<div class="header">
    <div class="imageHeader">
        <img src="../../assets/keyboard.jpg" alt="keyboard header" onclick="document.location='index.html'" width="250" height="140">
    </div>
    <h1>Keyboard Connections</h1>
    <h2><a href="/newConnection">start a new connection</a> | <a href="/login">Login</a> | <a href="/index">Logout</a></h2>
</div>
