<div class="header">
    <div class="imageHeader">
        <img src="../images/keyboard.jpg" alt="keyboard header" onclick="document.location='index.html'" width="250" height="140">
    </div>
    <h1>Learn How To Build Your Own Keyboard</h1>
    <h2><a href="connections.html">start a new connection</a> | <a href="">Login</a> | <a href="">Sign up</a></h2>
</div>
