<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/indexStyle.css">
    <title>About page</title>
</head>
<body>
<%- include ('partials/header.ejs') %>

<%- include ('partials/Navigation.ejs') %>


    <h3>About Us</h3>
    <p>
        We just want to bring people together who can share the same hobby <br>
        we are located at UNCC in the student union
    </p>
    <br>
</body>

<%- include ('partials/footer.ejs') %>

</html>
