<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="connectionsStyle.css">
    <title>Connections</title>
</head>
<div class="header">
    <div class="imageHeader">
        <img src="images/keyboard.jpg" alt="keyboard header" onclick="document.location='index.html'" width="250" height="140">
    </div>
    <h1>Connections</h1>
    <h2><a href="connections.html">start a new connection</a> | <a href="">Login</a> | <a href="">Sign up</a></h2></div>



    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="connections.html">Connections</a></li>
        <li><a href="">Contact</a></li>
    </ul>
    <h3>Events</h3>
    <p>
        <a href="connection.html">Learn how to build your own keyboard</a>  <br>
        <a href="connection.html">keycon 2021</a>  <br>
        <a href="connection.html">UNCC Meetup</a>  <br>
    </p>
    <br>

    <h3>Learn</h3>
    <p>
        <a href="connection.html">How to make your keyboard better</a>  <br>
        <a href="connection.html">How to solder</a>  <br>
        <a href="connection.html">How to lube switches</a>  <br>
    </p>

    <footer>
        <p>&#169; Brian Colclough</p>
    </footer>


</html>