<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../assets/indexStyle.css" />
    <title>Contact page</title>
  </head>
  <body>
    <%- include ('partials/header.ejs') %> <%- include
    ('partials/Navigation.ejs') %>

    <h3>Contact Us</h3>
    <p>
      I doubt we will answer the phone but you can sure try, our number: <br />
      (888)634-7648 <br />
      Email us at: mechmeetup@gmail.com
    </p>
    <br />
  </body>

  <%- include ('partials/footer.ejs') %>
</html>
