<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../connectionStyle.css">
    <title>Example Connection</title>
</head>
<body>

  <%- include ('partials/header.ejs') %>

  <%- include ('partials/Navigation.ejs') %>

  <form id="contact-form">
      <label for="topic">Topic</label>
      <input type="text" name="topic" value="topic">
      <label for="details">Name</label>
      <input type="text" name="name" value="Name">
      <label for="details">Details</label>
      <input type="text" name="details" value="description">
      <label for="where">Where</label>
      <input type="text" name="where" value="location">
      <label for="when">When</label>
      <input type="text" name="details">
      <input type="submit" name="submit" value="create connection">
    </form>

</body>

<%- include ('partials/footer.ejs') %>

</html>
